.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding-top: 16px;
}

.full-width {
  grid-column: 1 / -1;
}

.toggles {
  grid-column: 1 / -1;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  padding-bottom: 8px;

  ::ng-deep mat-slide-toggle label {
    padding-left: 10px;
  }
}
