<div class="filter-bar" [formGroup]="form">

<!--  <mat-form-field appearance="outline" class="filter-field">-->
<!--    <mat-label>Тип прийому</mat-label>-->
<!--    <mat-select formControlName="appointmentType">-->
<!--      <mat-option [value]="null">Всі</mat-option>-->
<!--      @for (opt of appointmentTypes; track opt.value) {-->
<!--        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>-->
<!--      }-->
<!--    </mat-select>-->
<!--    <mat-icon matSuffix>medical_services</mat-icon>-->
<!--  </mat-form-field>-->

  <mat-form-field appearance="outline" class="filter-field">
    <mat-label>Тип пацієнта</mat-label>
    <mat-select formControlName="patientType">
      <mat-option [value]="null">Всі</mat-option>
      @for (opt of patientTypes; track opt.value) {
        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>
      }
    </mat-select>
    <mat-icon matSuffix>person_search</mat-icon>
  </mat-form-field>

<!--  <mat-form-field appearance="outline" class="filter-field">-->
<!--    <mat-label>Статус</mat-label>-->
<!--    <mat-select formControlName="status">-->
<!--      <mat-option [value]="null">Всі</mat-option>-->
<!--      @for (opt of statuses; track opt.value) {-->
<!--        <mat-option [value]="opt.value">{{ opt.label }}</mat-option>-->
<!--      }-->
<!--    </mat-select>-->
<!--    <mat-icon matSuffix>schedule</mat-icon>-->
<!--  </mat-form-field>-->

</div>
