@if (isLoading()) {
  <div class="spinner-wrap">
    <mat-progress-spinner mode="indeterminate" diameter="40" />
  </div>
} @else if (appointment()) {
  <div class="detail-layout">

    <app-appointment-header [appointment]="appointment()!" />

    <app-patient-info
      [appointment]="appointment()!"
      (save)="savePatientInfo($event)"
    />

    @switch (type()) {
      @case ('consultation') {
        <app-consultation-form [appointment]="appointment()!" (save)="saveAppointment($event)" />
      }
      @case ('examination') {
        <app-examination-form [appointment]="appointment()!" (save)="saveAppointment($event)" />
      }
      @case ('surgery') {
        <app-surgery-form [appointment]="appointment()!" (save)="saveAppointment($event)" />
      }
    }
  </div>
} @else {
  <div class="not-found">
    <mat-icon>search_off</mat-icon>
    <p>Прийом не знайдено</p>
    <button mat-stroked-button routerLink="/dashboard">Повернутись до списку</button>
  </div>
}
